<div class="container">
    <div class="photo">
      <img src="assets/foto-about-me.jpeg" alt="Yo">
    </div>
    <div class="about-me">
      <div class="content">
        <p class="headline"><b>Hola!</b>👋 Soy Juan Pablo Cortez</p>
        <p>📚: Estudiante avanzado de programación en la Universidad Tecnológica Nacional (UTN), con habilidades avanzadas en SQL y experiencia en la manipulación de datos utilizando .NET.</p>
        <div class="reach-me">
          <img src="assets/github.png" alt="Github"><a href="https://github.com/JpCortezF" target="_blank">JpCortezF</a>
        </div>
        <h5 class="headline-game">Explicación del juego</h5>
      </div>
    </div>
  </div>
