<div class="container">
    <div class="photo">
      <img src="assets/ascensor-fachero.jpg" alt="Yo">
    </div>
    <div class="about-me">
      <div class="content">
        <p class="headline"><b>Hola!</b>👋 Soy Juan Pablo Cortez</p>
        <p>📚: Estudiante avanzado de programación en la Universidad Tecnológica Nacional (UTN), con habilidades avanzadas en SQL y experiencia en la manipulación de datos utilizando .NET.</p>
        
        <h5 class="headline-game mt-3">Explicación del juego</h5>
        <p class="mb-3">🕹️: Deftionary es un juego sobre acertar la palabra según el significado que sale en pantalla. Se cuenta con 3 vidas para alcanzar el mayor puntaje posible, los puntos se van logrando con cada palabra acertada.</p>

        <h5 class="mb-3"></h5>
        <video controls width="100%">
          <source src="assets/juego-about-me.webm" type="video/webm">
          Tu navegador no soporta la reproducción de videos en este formato.
        </video>

        <div class="reach-me">
          <img src="assets/github.png" alt="Github"><a href="https://github.com/JpCortezF" target="_blank">JpCortezF</a>
        </div>
      </div>
    </div>
</div>
