<div class="container">
    <div class="photo">
      <img src="Foto-about-me.jpeg" alt="Yo">
    </div>
    <div class="about-me">
      <div class="content">
        <p class="headline"><b>Hola!</b>👋 Soy Juan Pablo Cortez</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, eligendi blanditiis consectetur unde ut eveniet ea rem atque doloribus, odio ipsam facere. Laborum sequi aut, ab nihil voluptates alias temporibus!</p>
        <h5 class="headline-game">Explicación del juego</h5>
      </div>
    </div>
  </div>
