.container {
    width: 100%;
    min-height: calc(100vh - 200px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.board-game {
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2.5rem;
    width: 800px;
    margin-top: 3rem;
}

#current-card {
    max-height: 100%;
    max-width: 100%;
}

.cards-area{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    height: 300px;
    margin-bottom: 2rem;
    .card{
        border-radius: 15px;
    }
    .mazo{
        border-radius: 15px;
    }
    .points-msg{
        margin-left: 2rem;
    }
}

button p{
    display: inline;
    margin-left: 0.5rem;
}

.b-high-low{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

@media (max-width: 440px){
    .board-game{
        padding: 1rem;

        .points-msg{
            margin-top: 0.8rem;
        }
    }
    .b-high-low{
        p{
            display: none;
        }
    }
    .cards-area{
        margin: 0;
    }
    .btn-start{
        button{
            margin: 0;
        }     
    }
}