<div class="container-form">
  <div class="form-content">
    <h1 id="title">{{ isRegistering ? 'Registrar' : 'Acceder' }}</h1>
    <div class="grupo-input" (keydown.enter)="isRegistering ? Register() : Login()">
      <div *ngIf="isRegistering">
        <div class="input-field">
          <i class="fa-solid fa-envelope"></i>
          <input type="text" placeholder="Email" [(ngModel)]="newUserMail" name="newEmail">
        </div>
        <div class="input-field">
          <i class="fa-solid fa-lock"></i>
          <input type="password" placeholder="Contraseña" [(ngModel)]="newUserPass" name="newPassword">
        </div>
      </div>
      <!-- Campos para Login -->
      <div *ngIf="!isRegistering">
        <div class="input-field">
          <i class="fa-solid fa-envelope"></i>
          <input type="text" placeholder="Email" [(ngModel)]="userMail" name="email">
        </div>
        <div class="input-field">
          <i class="fa-solid fa-lock"></i>
          <input type="password" placeholder="Contraseña" [(ngModel)]="userPass" name="password">
        </div>
      </div>
        @if(flagError){
          <p class="text-center text-danger">{{messageError}}</p>
        }
        <a href="#" class="forgot-pass" id="forgotID">¿HAS OLVIDADO TU CONTRASEÑA?</a>
        <div class="btn-field">
          <button (click)="isRegistering ? Register() : Login()" class="btn btn-danger me-2">
            {{ isRegistering ? 'Registrar' : 'Acceder' }}
          </button>
          <button (click)="AutocompleteFields()" class="btn btn-secondary me-2">Autocompletar</button>
        </div>
        <div id="LogUp">
          <p class="account-text">{{ isRegistering ? '¿Ya tienes cuenta?' : '¿No tienes cuenta?' }}</p>
          <a class="link-text" (click)="ToggleForm()">
            {{ isRegistering ? 'INICIAR SESIÓN' : 'CREAR UNA' }}
          </a>
        </div>
    </div>
  </div>
</div>
