.icon-footer{
    padding: 0.8rem;
    font-size: 1.5rem;
    img{
        width: 36px;
        height: auto;
        margin-right: 1rem; 
    }
}

p{
    margin: 0;
    color: #d13d49;
    text-align: center;
    display: inline;
}

p:hover{
    color: rgb(156 163 175);
}

a{
    color: white;
    text-decoration: none;
}
  
.Copyright{
    color: rgb(156 163 175);
}