.icon-footer{
    padding: 0.5rem;
    font-size: 1.5rem;
    img{
        width: 36px;
        height: auto;
        margin-right: 1rem; 
    }
}

.about-me{
    p{
        color: #d13d49;
        text-align: center;
        display: inline;
    }
    p:hover{
        color: rgb(156 163 175);
    }
    
}

a{
    color: white;
    text-decoration: none;
}
  
p{
    color: rgb(156 163 175);
    margin: 0;
}

.Encuesta{
    display: flex;
    justify-content: center;
    p{
        margin-bottom: 0.8rem;
    }
    p:hover{
        color: #d13d49;
        cursor: pointer;
    }
}

.Copyright{
    font-size: 0.9rem;
}