<footer>
    <div class="container">
      <div class="Encuesta">
        <p routerLink="/encuesta" routerLinkActive="active-route">Encuesta</p>
      </div>
      <div class="about-me">
        <a routerLink="/about-me" routerLinkActive="active-route"><p>¿Quien soy?</p></a>
      </div>
      <div class="icon-footer">
        <a routerLink="/home" routerLinkActive="active-route"><img src="assets/icon-page.png" alt="icon-page"></a>
        <a routerLink="/home" routerLinkActive="active-route">Bushin</a>
      </div>
      <p class="Copyright">Copyright &copy; 2024 Bushin®. All rights reserved.</p>
    </div>
</footer>