
.icon-page{
    width: 36px;
    height: auto;
    margin-right: 1rem;
}

.btn-log-in,
.btn-log-out{
    background: transparent;
    border: 0;
    color: white;
}

p{
    margin: 0;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}
