* {
  transition: all 0.3s ease-out;
}

h3 {
  color: rgb(156 163 175);
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.container {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 4.3rem;
}

.photo-game{
  position: relative;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  margin: 1rem;
}

.photo-game img{
  border-radius: 15px;
  width: 200px;
  transition: all 0.3s ease;
}

.photo-game:hover {
  top: -4px;
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.4);
  transform: translateY(-4px);
}

.photo-game img:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.icon-chat{
  button{
    position: fixed;
    bottom: 180px;
    right: 40px;
    z-index: 1000;
  }
}

.icon-chat button{
  background: transparent;
  border: 0;
}

.icon-chat img{
  width: 60px;
  border: 0;
}

.chat-box {
  position: fixed;
  bottom: 150px;
  right: 20px;
  width: 350px;
  height: 400px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

.close-chat {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 5px;
  width: 36px;
  height: 36px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  button{
    border: 0;
    background: transparent;
  }
}

.chat {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;

  p {
    max-width: 350px;
    padding: 5px;
    border-radius: 10px;
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: inline-block;
  }

  div{
    display: flex;
    flex-direction: column;
  }

  .user-message {
    background-color: rgb(119, 181, 119);
    text-align: left;
    align-self: flex-start;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
  }

  .my-message {
    background-color: rgb(79, 181, 219);
    align-self: flex-end;
    margin-left: auto;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
  }

  .message-header {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;
  }
  .user-message .message-header {
    text-align: left;
  }
  .my-message .message-header {
    text-align: right;
  }
  .message-footer {
    font-size: 0.7em;
    text-align: right;
    margin: 0;
  }
  .date-separator {
    font-size: 0.7em;
    text-align: center;
    background-color: #616161;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 0;
    font-weight: bold;
  }
}

.input-chat {
  display: flex;
  align-items: center;
  padding: 5px;
  textarea {
    flex: 1;
    resize: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    overflow-y: auto;
    min-height: 40px;
    max-height: 120px;
  }

  .send_btn {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.send_btn:hover{
  cursor: pointer;
  background-color: #c7c7c7;
}

.hidden {
  display: none;
}

@media (max-width: 992px){
  .icon-chat {
    button{
      bottom: 24px;
      right: 20px;
    }
  }
  .chat-box{
    bottom: 10px;
    right: 0px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-top: 6.25rem;
  }
}
