<div class="container">
  <a class="photo-game">
    <img src="preguntados.webp" alt="">
    <h3>Preguntados</h3>
  </a>
  <a class="photo-game" routerLink="/juegos/ahorcado" routerLinkActive="active-route">
    <img src="ahorcado.webp" alt="ahorcado">
    <h3>Ahorcado</h3>
  </a>
  <a class="photo-game" routerLink="/juegos/mayor-menor" routerLinkActive="active-route">
    <img src="mayor-menor.webp" alt="mayor-menor">
    <h3>Mayor o menor</h3>
  </a> 
  <a class="photo-game">
    <img src="buscaminas.png" alt="">
    <h3>Buscaminas</h3>
  </a>
</div>
<div class="icon-chat">
  <button id="chatIcon" (click)="ToggleChat()"><img src="icon-page.png" alt=""></button>
</div>
@if(isChatVisible){
  <div class="chat-box">
    <div class="close-chat">
      <button [class.hidden]="!isChatVisible" (click)="ToggleChat()">
        <i class="bi bi-caret-down-fill"></i>
      </button>
    </div>
    <div class="chat">
      <div *ngFor="let message of messages; let i = index"> 
        
        @if(IsNewDay(i)){
          <div class="date-separator">
            {{ FormatDate(message.fecha) }}
          </div>        
        }
        <div [ngClass]="{'user-message': message.user !== userEmail, 'my-message': message.user === userEmail}">         
          <div class="message-header">
            {{ GetUserName(message.user) }}
          </div>
          <div class="message-body">
            {{ message.text }}
          </div>
          <div class="message-footer">
            {{ FormatTime(message.fecha) }}
          </div>
        </div>        
      </div>
    </div>

    <div class="input-chat">
      <textarea 
        placeholder="Mensaje" 
        [(ngModel)]="newMessage" 
        (keydown.enter)="SendMessage()"
        (input)="AdjustTextarea($event)" 
        [style.height]="textareaHeight">
      </textarea>
      <span class="input-group-text send_btn" (click)="SendMessage()">
        <i class="fas fa-location-arrow"></i>
      </span>
    </div>
  </div>
}
