* {
  transition: all 0.3s ease-out;
}

h3 {
  color: rgb(156 163 175);
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.container {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 4.3rem;
}

.photo-game{
  position: relative;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  margin: 1rem;
}

.photo-game img{
  border-radius: 15px;
  width: 200px;
  transition: all 0.3s ease;
}

.photo-game:hover {
  top: -4px;
  box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.4);
  transform: translateY(-4px);
}

.photo-game img:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .container {
    padding-top: 6.25rem;
  }
}