<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top p-3" style="background-color: #151f2e; padding: 0;">
      <div class="container">
        <a href=""><img class="icon-page" src="icon-page.png" alt="icon-page"></a>
        <a href="" class="navbar-brand">Sala de Juegos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-start"
          aria-controls="navbar-start" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-start">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-icons">
            <button class="btn-log-in"><a routerLink="/log-in" routerLinkActive="active-route" class="dropdown-item">Acceder</a></button>
          </ul>        
        </div>
      </div>
    </nav>
  </header>
  
<router-outlet/>

<footer>
    <div class="container">
      <p class="route-about-me">
        <a href="/about-me">¿Quien soy?</a>
      </p>
      <p class="Copyright">Copyright &copy; 2024 Sala de Juegos®. All rights reserved.</p>
    </div>
</footer>