
.icon-page{
    width: 36px;
    height: auto;
    margin-right: 1rem;
}

.btn-log-in{
    background: transparent;
    border: 0;
    color: white;
}

.route-about-me a{
    color: #dc3545;
    text-decoration: none;
}

.conteiner a{
    color: white;
    text-decoration: none;
  }
  