<div class="container">
    <div class="game-container">
        <div class="trivia-container">
            <div class="cloud">
                @if(!juegoIniciado){
                    <div class="start-container">
                        <p>
                          <strong>Explicación del juego</strong><br>
                          🕹️: Deftionary es un juego sobre acertar la palabra según el significado que sale en pantalla. 
                          Se cuenta con 3 vidas para alcanzar el mayor puntaje posible, los puntos se van logrando con 
                          cada palabra acertada.
                        </p>
                        <button (click)="IniciarJuego()">Iniciar Juego</button>
                    </div>
                }@else {
                    <h2 [ngStyle]="{'color': definicionCorrecta ? '#28a745' : '#000'}">
                        {{ encabezado }}
                    </h2>
                    @if(!definicionCorrecta){
                        <h4 style="color: tomato;">{{ mensaje }}</h4>
                    }
                    <p>{{ definicion }}</p>

                    <div class="answer">
                        <input #inputPalabra type="text" placeholder="Adivina la palabra" (keydown.enter)="VerificarRespuesta(inputPalabra.value, inputPalabra)">
                        <button (click)="VerificarRespuesta(inputPalabra.value, inputPalabra)">
                            {{ txtButton }}
                        </button>
                    </div>
                    <p>{{ score }} Puntos</p>
                    <div class="vidas">
                        <span *ngFor="let vida of [].constructor(remainingLives)">
                            <i class="fa fa-heart" style="font-size:23px;color:red"></i>
                        </span>                          
                    </div>
                }             
            </div>            
        </div>
    </div>   
</div>