.container {
    width: 100%;
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .title-game {
        padding: 20px;
        h3 {
          font-weight: 800;
          color: white;
          text-align: center;
        }
    }

    .ranking-options-container {
        background-color: rgba(40, 40, 40, 0.8);
        padding: 10px 20px;
        border-radius: 5px;
    }

    .ranking-options {
        margin-bottom: 10px;

        li {
            color: white;
            list-style: none;
            padding: 5px 10px;
            display: inline;
            margin-right: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: rgb(60, 60, 60); /* Cambia el fondo al pasar el mouse */
            }
        }
    }

    .ranking-table{
        background-color: rgb(245, 245, 245); /* Gris claro para fondo */
        color: #333; /* Color de texto oscuro */
        width: 500px;
        border-collapse: collapse; /* Para remover espacios entre celdas */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar relieve */

        th, td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd; /* Bordes sutiles */
        }

        thead {
            background-color: #005f73; /* Azul oscuro */
            color: white;
        }

        tbody tr:nth-child(odd) {
            background-color: rgb(230, 230, 230); /* Color alterno claro */
        }

        tbody tr:hover {
            background-color: rgb(200, 200, 200); /* Hover en filas */
        }
    }

    ul{
        padding: 0;
    }
    h3 {
        color: white;
        margin-bottom: 10px;
    }

}
