<div class="container">
  <div class="form-container" style="background-image: url('./assets/encuesta_image.jpeg');">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-12 mb-5">
          <h2>Encuesta</h2>
        </div>
      </div>
      <div class="row formulario">
        <!-- Nombre -->
        <div class="col-md-6 mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <small class="invalid" *ngIf="!(formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched)">
            *
          </small>
          <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Ingrese nombre">
          <small class="invalid" *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched">
            El nombre solo puede contener letras.
          </small>
        </div>
      
        <!-- Apellido -->
        <div class="col-md-6 mb-3">
          <label for="apellido" class="form-label">Apellido</label>
          <small class="invalid" *ngIf="!(formulario.get('apellido')?.invalid && formulario.get('apellido')?.touched)">
            *
          </small>
          <input type="text" class="form-control" id="apellido" formControlName="apellido" placeholder="Ingrese apellido">
          <small class="invalid" *ngIf="formulario.get('apellido')?.invalid && formulario.get('apellido')?.touched">
            El apellido solo puede contener letras.
          </small>
        </div>
      
        <!-- Edad -->
        <div class="col-md-6 mb-3">
          <label for="edad" class="form-label">Edad</label>
          <small class="invalid" *ngIf="!(formulario.get('edad')?.invalid && formulario.get('edad')?.touched)">
            *
          </small>
          <input type="number" class="form-control" id="edad" formControlName="edad" placeholder="Ingrese edad">
          <small class="invalid" *ngIf="formulario.get('edad')?.invalid && formulario.get('edad')?.touched">
            Debe ser mayor de 18 años y menor de 99.
          </small>
        </div>
      
        <!-- Teléfono -->
        <div class="col-md-6 mb-3">
          <label for="telefono" class="form-label">Teléfono</label>       
          <small class="invalid" *ngIf="!(formulario.get('telefono')?.invalid && formulario.get('telefono')?.touched)">
            *
          </small>
          <input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="Ingrese teléfono">
          <small class="invalid" *ngIf="formulario.get('telefono')?.invalid && formulario.get('telefono')?.touched">
            Debe ingresar un número de teléfono válido.
          </small>
        </div>
      
        <!-- Sexo -->
        <div class="col-md-6 mb-3">
          <label for="sexo" class="form-label">Sexo</label>
          <small class="invalid" *ngIf="!(formulario.get('sexo')?.invalid && formulario.get('sexo')?.touched)">
            *
          </small>
          <select class="form-select" id="sexo" formControlName="sexo">
            <option value="">Seleccione uno</option>
            <option value="F">Femenino</option>
            <option value="M">Masculino</option>
          </select>
          <small class="invalid" *ngIf="formulario.get('sexo')?.invalid && formulario.get('sexo')?.touched">
            Debe seleccionar una opción.
          </small>
        </div>
      
        <!-- ¿Cómo te enteraste de nosotros? -->
        <div class="col-md-6 mb-3">
          <label for="como_llego" class="form-label">¿Cómo te enteraste de nosotros?</label>
          <small class="invalid" *ngIf="!(formulario.get('como_llego')?.invalid && formulario.get('como_llego')?.touched)">
            *
          </small>
          <input type="text" class="form-control" id="como_llego" formControlName="como_llego" placeholder="Responde aquí">
          <small class="invalid" *ngIf="formulario.get('como_llego')?.invalid && formulario.get('como_llego')?.touched">
            Esta pregunta es requerida.
          </small>
        </div>
      
        <!-- ¿Qué mejora añadirías a la página? -->
        <div class="col-md-6 mb-3">
          <label for="mejoras" class="form-label">¿Qué mejora añadirías a la página?</label>
          <small class="invalid" *ngIf="!(formulario.get('mejoras')?.invalid && formulario.get('mejoras')?.touched)">
            *
          </small>
          <input type="text" class="form-control" id="mejoras" formControlName="mejoras" placeholder="Responde aquí">
          <small class="invalid" *ngIf="formulario.get('mejoras')?.invalid && formulario.get('mejoras')?.touched">
            Esta pregunta es requerida.
          </small>
        </div>
      
        <!-- ¿Cuál fue tu juego favorito? -->
        <div class="col-md-6 mb-3">
          <label for="favorito" class="form-label">¿Cuál fue tu juego favorito?</label>         
          <small class="invalid" *ngIf="!(formulario.get('favorito')?.invalid && formulario.get('favorito')?.touched)">
            *
          </small>
          <select class="form-select" id="favorito" formControlName="favorito">
            <option value="">Seleccione uno</option>
            <option value="Ahorcado">1 - Ahorcado</option>
            <option value="Preguntados">2 - Preguntados</option>
            <option value="Mayor menor">3 - Mayor menor</option>
            <option value="Deftionary">4 - Deftionary</option>
          </select>
          <small class="invalid" *ngIf="formulario.get('favorito')?.invalid && formulario.get('favorito')?.touched">
            Debe seleccionar una opción.
          </small>
        </div>
      
        <!-- ¿Nivel de satisfacción de la página? -->
        <div class="col-md-6 mb-5">
          <div class="form-group">
            <label for="nivelSatisfaccion" class="form-label">¿Nivel de satisfacción de la página?</label>
            <small class="invalid" *ngIf="!(formulario.get('nivelSatisfaccion')?.invalid && formulario.get('nivelSatisfaccion')?.touched)">
              *
            </small>
            <select class="form-control" id="nivelSatisfaccion" formControlName="nivelSatisfaccion">
              <option value="" disabled selected>Seleccione una opción</option>
              <option value="1">1 - Muy insatisfecho</option>
              <option value="2">2 - Insatisfecho</option>
              <option value="3">3 - Neutral</option>
              <option value="4">4 - Satisfecho</option>
              <option value="5">5 - Muy satisfecho</option>
            </select>
            <small class="invalid" *ngIf="formulario.get('nivelSatisfaccion')?.invalid && formulario.get('nivelSatisfaccion')?.touched">
              Debe seleccionar un nivel de satisfacción.
            </small>
            
          </div>
        </div>
    
        <!-- Botón -->
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-block">Aceptar</button>
        </div>
      </div>
    </form>
  </div>
</div>